@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Eliminamos el background-color fijo del body para que 
   el componente App.jsx controle el color (blanco o negro) */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  /* --- EVITAR SELECCIÓN DE TEXTO --- */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* Estándar (Chrome, Opera, etc.) */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-25%);
  }
}

.animate-scroll {
  animation: scroll 15s linear infinite;
}

.group\/carousel:hover .animate-scroll {
  animation-play-state: paused;
}